services:
  app:
    build:
      context: ./app
      dockerfile: Dockerfile
    container_name: todo-app
    ports:
      - "5000:5000"
  
  loki:
    image: grafana/loki:3.6.0
    container_name: loki
    command: -config.file=/etc/loki/loki-config.yaml
    volumes:
      - ./loki-config.yaml:/etc/loki/loki-config.yaml
    ports: 
      - "3100:3100"

    alloy:
      image: grafana/alloy:latest
      container_name: alloy
      command: run /etc/alloy/config.alloy
      volumes:
        - ./alloy-config.yaml:/etc/alloy/config.alloy
      ports: 
        - "12345:12345"
    
    grafana:
      image: grafana/grafana:12.2.1
      container_name: grafana
      environment:
        - GF_SECURITY_ADMIN_USER=admin
        - GF_SECURITY_ADMIN_PASSWORD=admin
      volumes:
        - ./grafana/datasources.yaml:/etc/grafana/provisioning/datasources/datasources.yaml
        - ./grafana/default.yaml:/etc/grafana/provisioning/dashboards/default.yaml
        - ./grafana/dashboard.json:/var/lib/grafana/dashboards/dashboard.json
      ports: 
        - "3000:3000"

    nginx:
      image: nginx:alpine
      container_name: nginx
      volumes:
        - ./nginx.conf:/etc/nginx/nginx.conf
      ports:
        - "80:80"